@import '_vars';
@import 'modules/_display';
@import 'modules/_errors';
@import 'modules/_animate.scss';
@import 'modules/_header.scss';
@import 'modules/_gallery.scss';
@import 'modules/_contact.scss';
@import 'modules/_hero.scss';
@import 'modules/_about.scss';

// Hides all unwanted items
.hidden {
    display: none;
}

// Styles and positions body text
body {
    color: $mainColour;
    background-color: grey;
    font-family: $mainFont;
    text-align: center;
    margin: 0 auto;
}

img {
    max-width:100%;
}

video{
    max-width:90%;
    margin-top:50px;
}

body{
    max-width:100%;
    margin:0 auto;
    justify-content: center;
}