@import '_vars';
@import 'modules/_display';
@import 'modules/_errors';
@import 'modules/_animate.scss';
@import 'modules/_header.scss';
@import 'modules/_gallery.scss';
@import 'modules/_contact.scss';
@import 'modules/_hero.scss';
@import 'modules/_about.scss';
@import 'modules/_footer.scss';
@import 'modules/_demo.scss';
@import 'modules/_query.scss';

// Hides all unwanted items
.hidden {
    display: none;
}

// Styles and positions body text
body {
    color: $mainColour;
    font-family: $mainFont;
    text-align: center;
    margin: 0 auto;
}

img {
    max-width:100%;
}

video{
    max-width:90%;
    margin-top:50px;
}

body{
    max-width:100%;
    margin:0 auto;
    justify-content: center;
}

h2{
    margin-bottom:10px;
}

h3{
    margin-bottom:10px;
}

//MEDIA QUERIES

//TABLET VIEW
//TABLET VIEW
@media only screen and (min-width: 600px){

    .title{
        max-width:60%;
    }

    .title2{
        max-width:80%
    }
    
    #siteCon{
        max-width:800px;
        margin:0 auto;
    }

    #mainHeader{
        height:90px;
    }

    #headerLogoCon{
        left:100px;
        width:75px;
    }

    #menuButton{
        right:100px;
        margin-top:15px;
    }

    .whiteIcon{
        width:10%;
        margin: 15px;
    }

    .whiteIcon:hover{
        width:11%;
    }

    //PORTFOLIO SECTION
    // Positions gallery
    .faveThings {
        height:475px;
        max-width:80%;
    }

    //CONTACT SECTION
    #contactSection{
        margin-top:40px;
    }
  }

  //DESKTOP VIEWS
  @media only screen and (min-width: 800px) {
  
    #siteCon{
        max-width:1200px;
        margin:0 auto;
    }

    #mainHeader{
        height:100px;
        max-width:1200px;
    }

    #headerLogoCon{
        margin: 0 auto;
        width:75px;
        left:400px;
    }

    #menuButton{
        right:400px;
        margin-top:25px;
    }

    #aboutCopy p{
        margin-top:20px;
    }

    //PORTFOLIO SECTION
    // Positions gallery
    .faveThings {
        height:650px;
    }

    #demoReel{
        max-width:90%;
        height:600px;
    }

    //CONTACT SECTION
    #contactSection{
        margin-top:40px;
        padding-bottom:40px;
    }

    #contactForm{
        max-width:500px;
    }

    input{
        margin-top:20px;
    }

    textarea{
        margin-top:20px;
    }

    .submit{
        margin-top: 20px;
    }

    #firstName{
        width:230px;
        margin-right:25px;
    }

    #lastName{
        width:230px;
    }
  }