@import '_vars';
@import 'modules/_display';
@import 'modules/_errors';
@import 'modules/_animate.scss';
@import 'modules/_header.scss';

// Hides all unwanted items
.hidden {
    display: none;
}

// Styles and positions body text
body {
    color: $mainColour;
    font-family: $mainFont;
    text-align: center;
    margin: 0 auto;
}

