<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon2.ico">
    <link rel="stylesheet" href="css/main.css">
    <title>Error</title>
</head>
<body class="errorPage">

    <main class="errorWrapper">
        {{{body}}}
        <img src="images/wut.png" alt="Error Image" id="errorImage">
    </main>

    <a href="/" id="backButton">Go Back!</a>
</body>
</html>