<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css stuff -->
    <!-- link to reset -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/main.css">
    <title>Michael Prior - Design</title>
</head>

<body>
<div id="siteCon">
    <h1 class="hidden">Michael Prior - Design</h1>
    <div id="titleCon">
        <img class="title" id="titleImg" src="">
    </div>

    <main>
        {{{ body }}}
    </main>
   
    <script type="module" src="js/main.js"></script>
</div>
</body>

</html>