<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css stuff -->
    <!-- link to reset -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/main.css">
    <title>Michael Prior - Design</title>
</head>

<body>
<div id="siteCon">
    <h1 class="hidden">Michael Prior - Design</h1>

    <main>
        <header id="headerCon">
            <div id="logoCon">
                <img src="images/mp-logo-color.png" id="headerLogo">
                <h2>Michael Prior</h2>
            </div>
        </header>

        {{{ body }}}

        <div id="aboutCon">
            <h2>About Me</h2>
            <div id="aboutImg">
                <img src="images/self_pic_1.png">
            </div>

            <div id="aboutCopy">
                <h2 class="hidden">About Me Copy</h2>
                ALL THE INFO ABOUT ME GOES HERE!
            </div>

            <div id="aboutSkills">
                <h2 class="hidden">My Skills</h2>

            </div>

            <div id="contactCon">
                <h2>Contact Me</h2>
                CONTACT FORM HERE
            </div>
        </div>


    </main>


   
    <script type="module" src="js/main.js"></script>
</div>
</body>

</html>