#aboutSection{
    background: black;
    padding-bottom:25px;
    width:100%;
}

#aboutImg{
    margin-bottom:15px;
}

#aboutImg img{
    max-width:100%;
}

#aboutLeft{
    justify-content: center;
    text-align: left;
}

#aboutCopy{
    margin-top:10px;
    max-width:80%;
    margin:0 auto;
    color: white;
}

#aboutCopy p{
    margin-top:10px;
    line-height: 23px;
}