label{
    margin-top:15px;
    margin-bottom:5px;
    text-align:left;
}

input{
    margin-top:10px;
}

textarea{
    margin-top:10px;
}

#contactTitle{
    width:90%;
    margin-top:20px;
    margin-bottom:10px;
}

#contactSection{
    display:block;
    margin-top:30px;
    background: black;
    padding-bottom:20px;
    padding-top:20px;
}

#contactCopy{
    font-family: $mainFont;
    font-size: 18px;
    line-height: 26px;
    max-width:60%;
    text-align:left;
    margin: 0 auto;
    color: white;
    margin-bottom:20px;
}

#contactForm{
    display:flex;
    flex-direction:column;
    max-width:350px;
    margin: 0 auto;
    color:white;
}

#firstName, #lastName, #email, #subject, #message{
    opacity:0.6;
}

#firstName:hover, #lastName:hover, #email:hover, #subject:hover, #message:hover{
    opacity:1.0;
}

#firstName{
    width:165px;
    margin-right:7px;
}

#lastName{
    width: 165px;
}

.submit{
    margin-top: 20px;
}


