#portfolioSection{
    font-family: $mainFont;
    display: flex;
    flex-direction: row;
    margin:0 auto;
    justify-content: center;
    max-width:90%;
}

#portTitleCon{
    margin-top:20px;
}

#portTitle{
    width:90%;
}

.portfolioCon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pieceCon{
    flex: 25%;
    padding:6px;
}

#pieceTitle{
    font-size:24px;
    margin-top:20px;
}

.portImage{
    margin-top: 8px;
    vertical-align: middle;
    width:90%;
    margin: 0 auto;
    opacity:0.7;
}

.portImage:hover{
    opacity:1.0;
    margin-bottom:15px;
    width:95%;
}

.pieceCon h2{
    font-family: $mainFont;
    color: black;
    margin-top:10px;
}

.pieceCon h3{
    font-family: $mainFont;
    opacity: 0.8;
}

.role{
    margin-top:10px;
}

.link{
    max-width:70%;
    color:$secondaryColour;
    opacity:0.0;
}

// Styles See more
.seeMore {
    text-decoration: none;
    color:$secondaryColour;
    font-size:16px;
    transition: 0.25s;
}

// Styles see more hover
.seeMore:hover {
    color:$mainColour;
}

// Styles description
.info {
    margin-top:15px;
    margin-bottom:15px;
}
