#portTitle{
    width:90%;
    margin-top:25px;
}

#portfolioSection{
    margin-top:15px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.5);
    font-family: $mainFont;
}


//styles gallery container
.section{
    display:flex;
    justify-content: center;
    margin: 0 auto;
}

#faveThingsSection{
    display:flex;
    justify-content: center;
    margin: 0 auto;
}

// Positions gallery
.faveThings {
    justify-content: center;
    height:425px;
    margin-bottom: 10px;
}

// Styles info from db
.thing {
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;
    margin: 10px;
}

// Sizes and positions images
.thing img {
    margin: 0 auto;
    opacity:0.7;
}

.thing img:hover{
    opacity:1.0;
    box-shadow: 4px 4px black;
    margin-bottom:15px;
}

.thing h2{
    font-size:22px;
    font-family: $mainFont;
    color: black;
    margin-top:10px;
}

.thing h3{
    font-family: $mainFont;
    opacity: 0.8;
}

// Styles See more
.seeMore {
    padding: 10px;
    background-color: black;
    text-decoration: none;
    color: $buttonTextColour;
    margin: 0 auto;
    margin-top: 10px;
    transition: 0.25s;
}

// Styles see more hover
.seeMore:hover {
    background-color: $buttonHover;
}

// Styles description
.info {
    text-align: center;
    line-height: 22px;
    margin-top: 10px;
}