// Sizes header
#mainHeader {
    font-family: $mainFont;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: white;
    height: 70px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;

}

// Positions header content and styles header
#headerCon {
    display: flex;
    margin: 0 auto;
    background: white;
    padding-top: 15px;
    height: 40px;
    max-width: 90%;
}

#headerLogoCon{
    width:50px;
    position: fixed;
    left:25px;
}

// Fade in animation
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 100; }
}

// Fade out animation
@keyframes fadeOut {
    0% { opacity: 100; }
    100% { opacity: 0; }
}

// Sizes and styles menu overlay background
#menuBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    display: none;
    height:330px;
    opacity:1.0;
    background-color: white;
}

#menuButton{
    position:fixed;
    right:20px;
}

//menu fade
#menuBackground.openMenu {
    display: block;
    animation: fadeIn 0.20s ease-out;
}

#menuBackground.fadeOut {
    animation: fadeOut 0.20s ease-out;
}

// nav style
#menuContent {
	position: fixed;
    left: 0%;
    top: -500px;
	display: block;
    width: 100%;
    height: auto;
    transition: 0.25s ease-out;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: -1;
}

// Shows menu
#menuContent.openMenu {
    transition: 0.25s ease-out;
    top: 55px;
}

//nav link style
#mainNav ul li a {
	display: block;
	width: 100%;
    text-align: center;
    padding-bottom: 35px;
    font-size: 18pt;
    color:$mainColour;
    transition: 0.25s ease-out;
}

// nav link hover
#mainNav ul li a:hover {
    color:$secondaryColour ;
}

// Positions the menu button
#menuButton {
	margin-top: 5px;
}

// Changes cursor on hover for burger menu for desktop users
#menuButton {
    cursor: pointer;
}

// Styles the menu button's lines
#line1, #line2, #line3 {
	width: 24px;
	height: 0px;
	border-top: 3px solid black;
	margin: 5px;
	transition: all 0.25s ease;
}

// Animates line1 when menu is opened
#line1.openMenu {
	-webkit-transform: rotate(-45deg) translate(-5px, 6px);
	-ms-transform: rotate(-45deg) translate(-5px, 6px);
	transform: rotate(-45deg) translate(-5px, 6px);
}

// Hides line2 when menu is opened
#line2.openMenu {
	opacity: 0;
}

// Animates line3 when menu is opened
#line3.openMenu {
	-webkit-transform: rotate(45deg) translate(-5px, -6px);
	-ms-transform: rotate(45deg) translate(-5px, -6px);
	transform: rotate(45deg) translate(-5px, -6px);
}
