#heroCon{
    background: black;
    padding-top:30px;
}

#heroTitle{
    margin-top:15px;
    width:90%;
}

#aboutSkills{
    margin-top:15px;
}

#heroSocial{
    max-width:90%;
    margin:0 auto;
}

.whiteIcon{
    opacity:0.5;
    width:20%;
    margin: 15px;
}

.whiteIcon:hover{
    opacity:1.0;
}